include ../../components/mixins/loop

.forecasts-content
    .forecasts-block.forecasts-cards
        .cards.cards--full
            .card.bordered.js-accordion
                .card__wrapper
                    .card__tags
                        a.card__tags-item(href="#") Футбол
                    .card__game
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                        .card__game-date
                            | 20.10.2021 10:40 МСК
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                    button(class="card__button btn btn--default js-accordion-btn") Смотреть результаты
                    h3.card__title «Базель» — «Омония»: прогноз на матч Лиги конференций на Лиге конференций матча
                .card__collapse.js-accordion-panel
                    .card__table
                        .card__table-row.card__table-header
                            .card__table-title МЕСТО
                            .card__table-title ПОЛЬЗОВАТЕЛЬ
                            .card__table-title ПРОГНОЗ
                            .card__table-title КОЭФФИЦИЕНТ
                            .card__table-title РЕЗУЛЬТАТ
                        +loop(10)
                            .card__table-row
                                .card__table-place= n + 1
                                .card__table-user
                                    .user__info-avatar
                                        img(src=require('@images/user.jpg') alt="")
                                    .user__info-login Ilya_Kozak666ovskii2212_RUS
                                .card__table-forecast
                                    .card__table-winner
                                        span Победитель:
                                        |
                                        | Торпедо Нижний Новгород
                                    .card__table-total Тотал: бол х2,5
                                    .card__table-loser
                                        span Проигравший:
                                        |
                                        | Спутник Альметьевск
                                .card__table-data
                                    .bet__info
                                        .bet__info-teams
                                            span Торпедо Нижний Новгород
                                            span Спутник Альметьевск
                                        .bet__info-date 31.02.29 16:00
                                    .bet__stats
                                        span Победитель. Осн. вр.
                                        .bet__stats-details
                                            .bet__stats-detail
                                                span 1
                                                span 2.65
                                            .bet__stats-detail
                                                span X
                                                span 2.65
                                            .bet__stats-detail
                                                span 2
                                                span 2.65
                                .card__table-factor 1,75
                                .card__table-result
                                    span.result__total-sign.result__total-sign--win
                    include ../pagination
            .card.bordered.js-accordion
                .card__wrapper
                    .card__tags
                        a.card__tags-item(href="#") Футбол
                    .card__game
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                        .card__game-date
                            | 20.10.2021 10:40 МСК
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                    button(class="card__button btn btn--default js-accordion-btn") Смотреть результаты
                    h3.card__title «Базель» — «Омония»: прогноз на матч Лиги конференций на Лиге конференций матча
                .card__collapse.js-accordion-panel
                    .card__table
                        .card__table-row.card__table-header
                            .card__table-title МЕСТО
                            .card__table-title ПОЛЬЗОВАТЕЛЬ
                            .card__table-title ПРОГНОЗ
                            .card__table-title КОЭФФИЦИЕНТ
                            .card__table-title РЕЗУЛЬТАТ
                        +loop(10)
                            .card__table-row
                                .card__table-place= n + 1
                                .card__table-user
                                    .user__info-avatar
                                        img(src=require('@images/user.jpg') alt="")
                                    .user__info-login Ilya_Kozak666ovskii2212_RUS
                                .card__table-forecast
                                    .card__table-winner
                                        span Победитель:
                                        |
                                        | Торпедо Нижний Новгород
                                    .card__table-total Тотал: бол х2,5
                                    .card__table-loser
                                        span Проигравший:
                                        |
                                        | Спутник Альметьевск
                                .card__table-factor 1,75
                                .card__table-result
                                    span.result__total-sign.result__total-sign--win
                    include ../pagination
            .card.bordered.js-accordion
                .card__wrapper
                    .card__tags
                        a.card__tags-item(href="#") Футбол
                    .card__game
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                        .card__game-date
                            | 20.10.2021 10:40 МСК
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                    button(class="card__button btn btn--default js-accordion-btn") Смотреть результаты
                    h3.card__title «Базель» — «Омония»: прогноз на матч Лиги конференций на Лиге конференций матча
                .card__collapse.js-accordion-panel
                    .card__table
                        .card__table-row.card__table-header
                            .card__table-title МЕСТО
                            .card__table-title ПОЛЬЗОВАТЕЛЬ
                            .card__table-title ПРОГНОЗ
                            .card__table-title КОЭФФИЦИЕНТ
                            .card__table-title РЕЗУЛЬТАТ
                        +loop(10)
                            .card__table-row
                                .card__table-place= n + 1
                                .card__table-user
                                    .user__info-avatar
                                        img(src=require('@images/user.jpg') alt="")
                                    .user__info-login Ilya_Kozak666ovskii2212_RUS
                                .card__table-forecast
                                    .card__table-winner
                                        span Победитель:
                                        |
                                        | Торпедо Нижний Новгород
                                    .card__table-total Тотал: бол х2,5
                                    .card__table-loser
                                        span Проигравший:
                                        |
                                        | Спутник Альметьевск
                                .card__table-factor 1,75
                                .card__table-result
                                    span.result__total-sign.result__total-sign--win
                    include ../pagination
            .card.bordered.js-accordion
                .card__wrapper
                    .card__tags
                        a.card__tags-item(href="#") Футбол
                    .card__game
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                        .card__game-date
                            | 20.10.2021 10:40 МСК
                        .card__game-icon
                            img(src=require('@images/team.png') alt="")
                    button(class="card__button btn btn--default js-accordion-btn") Смотреть результаты
                    h3.card__title «Базель» — «Омония»: прогноз на матч Лиги конференций на Лиге конференций матча
                .card__collapse.js-accordion-panel
                    .card__table
                        .card__table-row.card__table-header
                            .card__table-title МЕСТО
                            .card__table-title ПОЛЬЗОВАТЕЛЬ
                            .card__table-title ПРОГНОЗ
                            .card__table-title КОЭФФИЦИЕНТ
                            .card__table-title РЕЗУЛЬТАТ
                        +loop(10)
                            .card__table-row
                                .card__table-place= n + 1
                                .card__table-user
                                    .user__info-avatar
                                        img(src=require('@images/user.jpg') alt="")
                                    .user__info-login Ilya_Kozak666ovskii2212_RUS
                                .card__table-forecast
                                    .card__table-winner
                                        span Победитель:
                                        |
                                        | Торпедо Нижний Новгород
                                    .card__table-total Тотал: бол х2,5
                                    .card__table-loser
                                        span Проигравший:
                                        |
                                        | Спутник Альметьевск
                                .card__table-factor 1,75
                                .card__table-result
                                    span.result__total-sign.result__total-sign--win
                    include ../pagination
        include ../pagination
    aside.forecasts-sidebar.advertise
        // Replace by widget
        div(style="border-radius: 10px; font-size: 100px; display: flex; align-items: center; justify-content: center; height: 180px; color: #fff; background: #7d7d7d; opacity: 0.08") AD
        // Replace by widget